.myCustomSider {
  background-color: rgba(1, 21, 40, 0.6);
  /* border-right: solid;
  border-right-color: red; */
  border-width: 3px 3px 3px 0;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(rgba(0, 0, 0, 0))) 1
    100%;
  -webkit-border-image: -webkit-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image: -moz-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image: -o-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
  border-image: linear-gradient(to left, black, rgba(0, 0, 0, 0)) 1 100%;
}

.ant-layout-sider-trigger {
  height: 5vh !important;
}
