/* .App {
  text-align: center;
  min-height: 100vh;
} */

p {
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis;
}

.btnDetail {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btnDetail:hover {
  color: #fff;
  background-color: #31b0d5;
  background-image: none;
  border-color: #269abc;
}
