.chat-list {
  overflow: auto;
  height: 79vh;
  border-right: 1px solid black;
}
.name {
  height: 12vh;
  padding-top: 10px;
}
.message-list {
  height: 61vh;
}
.input {
  height: 5vh;
}
.chatarea {
  padding: 0 10px;
}
