.header {
  background-color: rgba(1, 21, 40, 0.6);
  height: 5vh;
  padding: 0.2vh;
  min-height: 44px;
}

.searchHeader input {
  background: rgba(255, 255, 255, 0.8);
}

.ant-layout-header {
  line-height: normal;
}
